* {
  box-sizing: border-box;
}

html {
  background-color: #ece9e2;
}

#controls > * {
  margin: 5px;
  float: right;
}
#controls #new-game {
  float: left;
}
#controls {
  overflow: auto;
}


#game {
  width: 80vmin;
  height: 80vmin;
  max-height: 1200px;
  max-width: 1200px;
  margin: auto;
  margin-top: 5vmin;
  border: 1px solid black;
}

svg.game g.cell line.arm {
  stroke: black;
  stroke-linecap: butt;
  stroke-width: 0.2;
}

svg.game g.cell line.center {
  stroke: black;
  stroke-linecap: square;
  stroke-width: 0.2;
}

svg.game g.cell .cell-background {
  stroke: black;
  stroke-width: 0.01;
  fill: coral;
  /* fill: #ff7f50; */
}

svg.game g.cell.filled .arm,
svg.game g.cell.filled .center {
  stroke: aquamarine;
}
